{% extends 'layout/LayoutPartner.twig' %}

{% block content %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <h1>Tableau de bord des offres</h1>

    <table class="table">
        <thead class="thead-inverse">
            <tr>

                <th>offre</th>
                <th>Description </th>
                <th>Prix</th>
                <th>Taux reduction</th>
                <th>date de l'ajout</th>
                <th>date d'expiration</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        {% for offre in offres %}
        <tbody>



                <td>{{ offre.nomOffre }}</td>
                <td>{{ offre.descriptionOffre }}</td>
                <td>{{ offre.prix }}</td>
                <td>{{ offre.tauxReduction }}</td>
                <td>{{ offre.date | date }}</td>
                <td>{{ offre.dateExpirationOffre | date }}</td>
                <td><img width="50px" height="50px" src="{{ asset(vich_uploader_asset(offre, 'imageFile')) }}"></td>

            <td><a href="{{ path('offre_show', { 'id': offre.idOffre }) }}">Affiche l'offre</a>
                <a href="{{ path('offre_edit', { 'id': offre.idOffre }) }}">Modifier l'offre</a>
            </td>



        {% endfor %}
        </tbody></table>


{% endblock %}
