{% extends 'layout/LayoutPartner.twig' %}

{% block content %}


    <script ></script>


<script>

    $(document).ready(function() {
        $('#example').DataTable();
    } );
</script>


    <table id="example" class="table table-striped table-bordered" cellspacing="0">
        <thead>
            <tr>
                <th>Idoffre</th>
                <th>Nomoffre</th>
                <th>Descriptionoffre</th>
                <th>Prix</th>
                <th>Tauxreduction</th>
                <th>date de l'ajout</th>
                <th>date d'expiration</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for offre in offres %}


                <td>{{ offre.nomOffre }}</td>
                <td>{{ offre.descriptionOffre }}</td>
                <td>{{ offre.prix }}</td>
                <td>{{ offre.tauxReduction }}</td>
                <td>{{ offre.date | date }}</td>
                <td>{{ offre.dateExpirationOffre | date }}</td>
                <td><img src="{{ asset(vich_uploader_asset(offre, 'imageFile')) }}"></td>



            <td><a href="{{ path('offre_show', { 'id': offre.idOffre }) }}">Affiche l'offres</a></td>

            <td> <a href="{{ path('offre_edit', { 'id': offre.idOffre }) }}">Modifier l'offres</a></td>

        {% endfor %}
        </tbody></table>


{% endblock %}
