{% extends 'layout/LayoutUser.html.twig' %}




{% block content %}

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>


    <script>


        $(document).ready(function() {

            var zone = "05:30";  //Change this to your timezone

            $.ajax({
                url: Routing.generate('my_not_very_secret_route'),
                type: 'POST', // Send post data
                data: 'type=fetch',
                async: false,
                success: function (s) {
                    json_events = s;
                    console.log(s);
                }
            });

        });


    </script>






    {% for offre in offres %}







        <div class="row">
        <div class="col-md-9">
            <!-- BEGIN Portlet PORTLET-->
            <div class="portlet light">
                <div class="portlet-title">

                    <div class="well well-lg">
                        <h4 class="block" style="font-family: Verdana; font-size: 25px">{{ offre.nomOffre}}</h4>
                    </div>



                </div>
                <div class="portlet-body">
                    <div class="row">
                    <div class="col-md-5">
                        <img class="media-object img-rounded" width="300px" height="330px"  src="{{ asset(vich_uploader_asset(offre, 'imageFile')) }}" />
                    </div>

                    <div class="col-md-5">



                        <a class="btn yellow-gold btn-block btn-lg m-icon-big" style="font-size: 30px">{{ offre.prix - ((offre.prix * offre.tauxReduction)/100) }}DT
                            <br><s style="font-size: 20px">{{ offre.prix }}DT</s>

                        </a>




                        <br>
                        <a  class="btn  yellow-gold btn-block btn-lg m-icon-big" style="font-size: 30px">{{ offre.tauxReduction }}%
                        </a>

                        <br>
                        <a class="btn  yellow-gold btn-block btn-lg m-icon-big" style="font-size: 30px"><i class="fa fa-map-marker"></i> {{ offre.user.adresse }}

                        </a>
                        <br>
                        <button type="button" class="btn red btn-block"><a style="text-decoration: none;color: inherit;font-size: 30px" href="{{ path('offre_details', { 'id': offre.idOffre }) }}">Voir l'offre</a></button>



                      </div>
                   </div>
                </div>
             </div><!-- END Portlet PORTLET-->
          </div>
       </div>

















    {% endfor %}







{% endblock %}
