{% extends 'layout/LayoutUser.html.twig' %}

{% block content %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <h1>Offre :{{ offre.nomOffre }} </h1>

    <table class="table">
        <thead class="thead-inverse">
        <tr>

            <th>offre</th>
            <th>Description </th>
            <th>Prix</th>
            <th>reduction</th>
            <th>date d'ajout</th>
            <th>date d'expiration</th>
            <th>Image</th>

        </tr>
        </thead>

        <tbody>


                <td>{{ offre.nomOffre }}</td>


                <td>{{ offre.descriptionOffre }}</td>


                <td>{{ offre.prix }}</td>


                <td>{{ offre.tauxReduction }}</td>



                <td>{{ offre.dateExpirationOffre | date }}</td>



                <td>{{ offre.date | date }}</td>

                <td> <img height="70px" width="70px" src="{{ asset(vich_uploader_asset(offre, 'imageFile')) }}"></td>

        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('offre_index') }}">vos offres</a>
        </li>
        <li>
            <a href="{{ path('offre_edit', { 'id': offre.idOffre }) }}">Modifier l'offre</a>
        </li>

    </ul>
{% endblock %}
