{% extends 'layout/LayoutUser.html.twig' %}
{% block content %}



    <script src="{{ asset('assets/js/jquery.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

<script>


   // $('#valider').click(function() {
   $(document).ready(function() {
       $('#valider').click(function () {

           $.ajax({

               url: Routing.generate('coupon_generate'),
               type: 'POST', // Send post data
               data: {id: {{ offre.idOffre }}},
               async: false,
               success: function (s) {

                   json_verif = s;
                   var stat = json_verif['status'];

                   if(stat == "success"){

                       window.location.href = "{{ path('karhabty_paiement_homepage', { 'id': offre.idOffre }) }}";

                   }


               }
           });

       });

   });

/*


    $(document).ready(function() {

        $.ajax({

            url: Routing.generate('count'),
            type: 'POST', // Send post data
            data: {id: },
            async: false,
            success: function (s) {


                json_events = s;

                nbachteur=json_events[0][1];
                document.getElementById().innerHTML="Acheté(s) :"+nbachteur ;


            }
        });


    });
*/

</script>
















    <div class="row">
        <div class="col-md-12">
            <div class="note note-success">
                <p> partenaire : {{ offre.user.nomsociete }} </p>
            </div>
            <!-- BEGIN SAMPLE TABLE PORTLET-->
            <div class="portlet box green">
                <div class="portlet-title">

                        <p class="text-align"> COUPON </p>

                </div>
                <div class="portlet-body flip-scroll">
                    <table class="table table-bordered table-striped table-condensed flip-content">
                        <thead class="flip-content">
                        <tr>
                            <th>Nom du Offre</th>
                            <th>Offre</th>
                            <th class="numeric">Prix</th>

                        </tr>
                        </thead>



                        <td width="13%"><img height="130px" width="130px"  src="{{ asset(vich_uploader_asset(offre, 'imageFile')) }}"></td>
                        <td>{{ offre.nomOffre }}</td>
                        <td class="numeric" width="13%"><p style="font-size: 40px">{{ (offre.prix - ((offre.prix * offre.tauxReduction)/100)) }}DT</p></td>


                    </table>
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-md-12">
             <button type="button" id="valider" class="btn red btn-lg">Valider</button>
        </div>
    </div>


</form>


{% endblock %}