
<div class="contanier">

    <div class="row">

        <div class="col-md-5">
            <img src="{{ asset('assets/img/karhabty-logo.png') }}" height="60"  >
        </div>

        <div class="col-md-5">




        </div>

    </div>
</div>



<h1 style="font-size: 40px">Bienvenue à <a style="text-decoration:none;background-color:#CC0000;color:black;">&nbsp;<span style="color:black;">Car</span><span style="color:white;">habty</span>&nbsp;</a></h1>

<h1>Votre coupon</h1>


<p style="font-size: 20px">Nom : {{ nom }}</p>
<br>
<p style="font-size: 20px">Prenom : {{ prenom }}</p>
<br>
<p style="font-size: 20px">Prix : {{ prix }}DT</p>

<p style="font-size: 20px">Offre : {{ offre }}</p>
<br>
<p style="font-size: 20px">Partenaire : {{ part }}</p>
<br>
<p style="font-size: 20px">Adresse : {{ adresse }}</p>
<p>instruction : vous présentez ce coupon chez notre partenaire afin de finaliser la procédure de l'offre</p>
<img src="https://api.qrserver.com/v1/create-qr-code/?data={{ ref }}&amp;size=100x100" height="50"/>