{% extends 'recherche.html.twig' %}

{% block recherche %}



    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-paper-plane font-yellow-casablanca"></i>
                    <span class="caption-subject bold font-yellow-casablanca uppercase">list des Annonce</span>
                    <span class="caption-helper">your cars baby</span>
                </div>

            </div>
            {% for annonce in annonces %}
                <div class="portlet light">
                    <!-- BEGIN Portlet PORTLET-->

                    <div class="row">
                        <div class="list-group">
                            <div class="media col-md-3">
                                <figure class="pull-left">
                                    <img class="media-object img-rounded img-responsive"  src="{{ asset(vich_uploader_asset(annonce, 'imageFile')) }}" alt="{{ annonce.imageName }}" >

                                </figure>
                            </div>
                        </div>
                        <div class="list-group">
                            <div class="media col-md-6">
                                <table class="table table-striped table-hover">
                                    <thead>
                                    <tr>

                                        <th>title</th>
                                        <th>ville</th>
                                        <th>prix</th>

                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr>

                                        <td><span class="badge badge-danger">{{ annonce.title }}</span></td>
                                        <td><span class="badge badge-danger">{{ annonce.Ville }}</span></td>
                                        <td><span class="badge badge-danger">{{ annonce.Prix }}</span></td>


                                    </tr>

                                    </tbody>
                                </table>





                            </div>
                        </div>

                        <div class=" col-md-3">
                            <a id="dude" href="{{ path('annonce_show', { 'id': annonce.id }) }} "  value="{{ annonce.id }}" class="btn default" > show
                                <i class="fa fa-user"></i></a>
                            <br>
                            <br>
                            <a href="{{ path('annonce_edit', { 'id': annonce.id }) }}" class="btn default">edit <i class="fa fa-user"></i></a>
                            <br>
                            <br>









                        </div>
                    </div>

                </div>
                <!-- END Portlet PORTLET-->

            {% endfor %}
        </div>

    </div>




{% endblock %}