{% extends 'KarhabtyAnnonceBundle:annonce:recherche.html.twig' %}

{% block content %}
    <div class="portlet light bordered form-fit">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-user font-blue-hoki"></i>
                <span class="caption-subject font-blue-hoki bold uppercase">detail de show</span>
                <span class="caption-helper"></span>
            </div>

            <div class="actions">
                <div class="row">

                <a href="{{ path('annonce_recherche') }}" class="btn green">Back to the list
                    <i class="icon-cloud-upload"></i>
                </a>
                <a href="{{ path('annonce_edit', { 'id': annonce.id }) }}" class="btn green">Edit
                    <i class="icon-wrench"></i>
                </a>

                </div>
            </div>
            <div class="inputs">


            </div>

        </div>
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <form action="#" class="form-horizontal form-bordered form-row-stripped">
                <div class="form-body">
                    <div class="form-group">
                        <label class="control-label col-md-3">Title</label>
                        <div class="col-md-6">
                            {{ annonce.title }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">Annee de production</label>
                        <div class="col-md-6">
                            {% if annonce.AnneeDeProduit %}{{ annonce.AnneeDeProduit|date('Y-m-d') }}{% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Model</label>
                        <div class="col-md-6">
                            {{ annonce.Model }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">Marque</label>
                        <div class="col-md-6">
                            {{ annonce.Marque }}
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-md-3">Address</label>
                        <div class="col-md-6">
                            <p>region:{{ annonce.Region }}</p> <p>ville:{{ annonce.Ville }}</p> <p> paye :{{ annonce.Paye }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">prix d'annonce</label>
                        <div class="col-md-6">
                            {{ annonce.Prix }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">Category</label>
                        <div class="col-md-6">
                            {{ annonce.Category }}
                    </div>
                        </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">


                                    {{ form_start(delete_form,{'attr':{'class':'form-horizontal form-bordered form-label-stripped'}}) }}
                                    <button type="submit" class="btn green">
                                        <i class="fa fa-check"></i> supprimer</button>
                                    {{ form_end(delete_form) }}
                            </div>
                        </div>

                    </div>


                </div>
            </form>
            <!-- END FORM-->
        </div>
    </div>














































{% endblock %}

{% block lvljp %}
    <script src="{{ asset('assets/global/plugins/bootstrap-daterangepicker/moment.min.js')}}" type="text/javascript"></script>
    <script src="{{ asset('assets/global/plugins/bootstrap-daterangepicker/daterangepicker.js')}}" type="text/javascript"></script>
    <script src="{{ asset('assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js')}}" type="text/javascript"></script>
    <script src="{{ asset('assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js')}}" type="text/javascript"></script>
    <script src="{{ asset('assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js')}}" type="text/javascript"></script>
    <script src="{{ asset('assets/global/plugins/clockface/js/clockface.js')}}" type="text/javascript"></script>



{% endblock %}

    {% block lvljs %}
        <script src="{{ asset('assets/pages/scripts/components-date-time-pickers.min.js')}}" type="text/javascript"></script>
        <script src="{{ asset('assets/pages/scripts/form-samples.min.js') }}" type="text/javascript"></script>
    {% endblock %}
