{% extends 'base.html.twig' %}

{% block body %}
    <h1>Event</h1>

    <table>
        <tbody>
            <tr>
                <th>Event_id</th>
                <td>{{ event.eventid }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ event.description }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ event.photo }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ event.title }}</td>
            </tr>
            <tr>
                <th>Access</th>
                <td>{{ event.access }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ event.address }}</td>
            </tr>
            <tr>
                <th>Event_date</th>
                <td>{% if event.eventdate %}{{ event.eventdate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Created_date</th>
                <td>{% if event.createddate %}{{ event.createddate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updated_date</th>
                <td>{% if event.updateddate %}{{ event.updateddate|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('event_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('event_edit', { 'id': event.event_id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
