{% extends 'home_layout.html.twig' %}

{% block content %}
    <h1>Reponse</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reponse.id }}</td>
            </tr>
            <tr>
                <th>Reponsecontent</th>
                <td>{{ reponse.reponseContent }}</td>
            </tr>
            <tr>
                <th>Ok</th>
                <td>{% if reponse.ok %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('reponse_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('reponse_edit', { 'id': reponse.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
