{% extends 'home_layout.html.twig' %}

{% block content %}




    <div class="col-md-6">
     <div class="portlet light bordered">
     <div class="portlet-title">
         <div class="container">
         <div class="col-md-3">   <h1>Question edit</h1></div>

         <div class="col-md-3"  ><a href="javascript:;" class="btn green"> Save Changes </a></div>
         </div>
     </div>
<table>

    {{ form_start(edit_form) }}
       <tr>
           <th style="padding: 10px">upload image</th>
           <td style="padding: 10px">{{ form_widget(edit_form.imgUrl) }}</td>
       </tr>
       <tr>
           <th style="padding: 10px">Question content</th>
           <td style="padding: 10px">{{ form_widget(edit_form.questionContent) }}</td>
       </tr>

</table>


         <br>
         <div class="row"></div>

         <div class="portlet-title">
             <h3>Les reponses</h3></div>

         <div class="tags" data-prototype="{{ form_widget(edit_form.reponses.vars.prototype)|e('html_attr') }}">

         </div>
         {% for rep in edit_form.reponses %}
             {{ form_widget(rep) }}
         {% endfor %}
         <div class="addRep"></div>

         <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

         <br>
         <br>
    <ul>
        <li>
            <a href="{{ path('question_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
     </div>
    </div>
{% endblock %}
