{% extends 'Layout/LayoutUser.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" rel="stylesheet">
    <link href="{{ asset('assets/ahlem/css/star-rating.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/ahlem/css/theme.min.css') }}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/ahlem/css/sweetalert.css') }}">
    <!--  <link rel="stylesheet" type="text/css" href="{{ asset('assets/ahlem/css/style.css') }}">-->
{% endblock %}

 {% block javascripts %}
     {{ parent() }}
     <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.js"></script>
     <script src="{{ asset('assets/ahlem/js/star-rating.min.js') }}" type="text/javascript"></script>
     <script src="{{ asset('assets/ahlem/js/theme.min.js') }}" type="text/javascript"></script>
     <script src="{{ asset('assets/ahlem/js/sweetalert.min.js') }}"></script>
     <script type="text/javascript" src="{{ asset('assets/ahlem/js/jquery.leanModal.min.js') }}"></script>
     <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
     <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
     <script>
         // A $( document ).ready() block.
         $("#delA").click(function () {
             swal({
                     title: "Are you sure?",
                     text: "You will not be able to recover this imaginary file!",
                     type: "warning",
                     showCancelButton: true,
                     confirmButtonColor: "#DD6B55",
                     confirmButtonText: "Yes, delete it!",
                     cancelButtonText: "No, cancel plx!",
                     closeOnConfirm: false,
                     closeOnCancel: false
                 },
                 function (isConfirm) {
                     if (isConfirm) {
                         myvar={{ i.id }};
                         $.post(Routing.generate('ajaxDeleteAstuce'),{'data':myvar},function (response) {
                             swal("Deleted!", "Your imaginary file has been deleted.", "success");
                             location.href="{{ path('listAstuce') }}";
                         });

                     } else {
                         swal("Cancelled", "Your imaginary file is safe :)", "error");
                     }
                 });
         });

         $("#loadcom").click(function () {
             $(".modal-body").load(Routing.generate('ajaxGetCommentsAstuce'),{id:{{i.id }} },function (data) {
                 var list=JSON.parse(data);

                $(".modal-body").html("");
                 for(var elem in list.data){

                     $(".modal-body").append("<p>"+list.data[elem]+"</p><hr>");


             };
         });})
     </script>


 {% endblock %}
{% block content %}

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
<div class="col-md-9">
    <h1>{{ i.theme }}</h1>


    <div class="row">
        <div class="col-sm-6 col-md-12">

                <img class="col-md-6"
                     src="{{ asset(vich_uploader_asset(i, 'imageFile')) }}" alt="{{ i.theme }}"/>
            <div class="col-md-6">
                <div class="caption">
                    <h3>{{ i.titre}}</h3>
                    <p>{{ i.description }}</p>
                    <p>

                        <a id="delA" class="btn btn-circle btn-icon-only btn-default">
                            <i class="icon-trash"></i>
                        </a>

                        <a class="btn btn-circle btn-icon-only btn-default"
                           href="{{ path('updateAstuce', {'id':i.id}) }}">
                            <i class="icon-wrench"></i>
                        </a>
                        <a class="btn btn-circle btn-icon-only btn-default" id="loadcom" data-toggle="modal" data-target="#myModal">
                            <i class="fa fa-commenting-o"></i>
                        </a>

                    <form method="post" action="{{ path('rate') }}">
                        <input id="input-id" type="number" value="{{ rate.value }}" class="rating"  data-size="xs"  name="rate" >
                        <input type="hidden" value="{{ i.id }}" name="idp"/>

                        <input type="submit" value="valider" class="btn btn-circle blue">
                    </form>

                        {{ form_start(form) }}
                    <h3>Ajouter un commentaire</h3>
                    {{ form_widget (form.commentaire,{ 'attr': {'class':'form-control','row':'3' }}) }}
                    <br>
                    <button type="submit" class="btn btn-circle blue">Valider</button>

                    {{ form_end(form) }}
                    </p>
                </div>
            </div>

        </div>
    </div>



    {% if relatedAstuces|length >0 %}
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                {% for relatedAstuce in relatedAstuces %}
                    {% if loop.index != 1 %}
                        <li data-target="#myCarousel" data-slide-to="0"></li>

                    {% endif %}
                {% endfor %}
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" style="height: 300px" role="listbox">

                <div class="item active">
                    <img class="img-responsive center-block"
                         src="{{ asset(vich_uploader_asset(relatedAstuces[0], 'imageFile')) }}" style="height: 300px;"
                         alt="Image introuvable">
                </div>
                {% for relatedAstuce in relatedAstuces %}
                    {% if loop.index != 1 %}
                        <div class="item" style="">
                            <img class="img-responsive center-block"
                                 src="{{ asset(vich_uploader_asset(relatedAstuce, 'imageFile')) }}"
                                 style="height: 300px;"
                                 alt="Image introuvable">
                        </div>
                    {% endif %}
                {% endfor %}

            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    {% endif %}

</div>
    <div class="related-products-wrapper col-md-3 col-sm-12" style="margin-top: 20px">
        <div class="related-products-carousel">
            <div class="single-sidebar">
                <h3 class="sidebar-title">les astuces récentes </h3>

                    {% for recentAstuce in recentAstuces %}
                        <div class="card  col-sm-3" style="width: 20rem;margin-top: 20px">
                            <img class="card-img-top img-responsive" src="{{ asset(vich_uploader_asset(recentAstuce, 'imageFile')) }}" alt="{{ recentAstuce.theme }}">
                            <div class="card-block">
                                <h4 class="card-title">{{ recentAstuce.titre }}</h4>
                                <a href="{{ path('infoAstuce', {'id' : recentAstuce.id} ) }}" class="btn btn-circle blue">Voir Détails</a>
                            </div>
                        </div>
                    {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}