{% extends 'Layout/LayoutUser.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" rel="stylesheet">
    <link href="{{ asset('assets/ahlem/css/star-rating.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/ahlem/css/theme.min.css') }}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/ahlem/css/sweetalert.css') }}">
  <!--  <link rel="stylesheet" type="text/css" href="{{ asset('assets/ahlem/css/style.css') }}">-->
    {%  endblock %}

 {% block javascripts %}
     {{ parent() }}
     <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.js"></script>
     <script src="{{  asset('assets/ahlem/js/star-rating.min.js') }}" type="text/javascript"></script>
     <script src="{{  asset('assets/ahlem/js/theme.min.js') }}" type="text/javascript"></script>
     <script src="{{  asset('assets/ahlem/js/sweetalert.min.js') }}"> </script>
     <script type="text/javascript" src="{{ asset('assets/ahlem/js/jquery.leanModal.min.js') }}"></script>
     <script>
         // A $( document ).ready() block.
         $( "#delA" ).click(function() {
             swal({
                     title: "Are you sure?",
                     text: "You will not be able to recover this imaginary file!",
                     type: "warning",
                     showCancelButton: true,
                     confirmButtonColor: "#DD6B55",
                     confirmButtonText: "Yes, delete it!",
                     cancelButtonText: "No, cancel plx!",
                     closeOnConfirm: false,
                     closeOnCancel: false
                 },
                 function(isConfirm){
                     if (isConfirm) {
                         $.ajax({
                             url: url,
                             data: data,
                             success: success,
                             dataType: dataType
                         });
                         swal("Deleted!", "Your imaginary file has been deleted.", "success");
                     } else {
                         swal("Cancelled", "Your imaginary file is safe :)", "error");
                     }
                 });
         });
     </script>


 {%  endblock %}
{% block content %}



    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

        <h1>{{ i.theme }}</h1>


        <div class="row">
            <div class="col-sm-6 col-md-12">

                    <div style="width:50%; float:left;">
                        <img style="height:299px;width:450px;display: block;"
                             src="{{ asset(vich_uploader_asset(i, 'imageFile')) }}" alt="{{ i.theme }}"/>
                    </div>
                    <div style="width: 50%; float:right;">
                        <div class="caption">
                            <h3>{{ i.titre }}</h3>
                            <p>{{ i.description }}</p>
                            <p>

                                <a id="delA" class="btn btn-circle btn-icon-only btn-default"  >
                                    <i class="icon-trash"></i>
                                </a>

                                <a class="btn btn-circle btn-icon-only btn-default" href="{{ path('updateAstuce', {'id':i.id}) }}">
                                    <i class="icon-wrench"></i>
                                </a>
                                <a class="btn btn-circle btn-icon-only btn-default" data-toggle="modal" data-target="#myModal" >
                                    <i class="fa fa-commenting-o"></i>
                                </a>
                                <input id="input-id" type="text" class="rating" data-size="xs" >
                            {{ form_start(form) }}
                            <h3>Ajouter un commentaire</h3>
                            {{ form_widget (form.commentaire,{ 'attr': {'class':'form-control','row':'3' }}) }}
                            <button type="submit" class="btn btn-circle btn-success">Success</button>

                            {{ form_end(form) }}
                            </p>
                        </div>
                    </div>

            </div>
        </div>





    <div class="related-products-wrapper">
        <h3 class="related-products-title">Related Astuces</h3>
        <div class="related-products-carousel">
            {% for relatedAstuce in relatedAstuces %}
                <div class="single-product">

                    <div class="product-f-image">
                        <h3>{{ relatedAstuce.titre }}</h3>
                        <img src="{{ asset(vich_uploader_asset(relatedAstuce, 'imageFile')) }}"
                             style="min-height:233px;height:233px;min-width:350px;width:350px;" alt="{{ relatedAstuce.theme }}"/>
                        <div class="product-hover">
                            <a href="{{ path('infoAstuce', {'id' : relatedAstuce.id} ) }}" class="view-details-link"><i
                                        class="fa fa-link"></i> Voir détails </a>
                        </div>
                    </div>



                </div>
            {% endfor %}
            <div class="single-sidebar">
                <h3 class="sidebar-title">les astuces récentes </h3>
                <div class="thubmnail-recent">
                    {% for recentAstuce in recentAstuces %}

                        <h3>{{ recentAstuce.titre }}</h3>
                        <img src="{{ asset(vich_uploader_asset(recentAstuce, 'imageFile')) }}"
                             style="min-height:233px;height:233px;min-width:350px;width:350px;" alt="{{ recentAstuce.theme }}"/>
                        <div class="product-hover">
                            <a href="{{ path('infoAstuce', {'id' : recentAstuce.id} ) }}" class="view-details-link"><i
                                        class="fa fa-link"></i> Voir détails </a>
                        </div>


                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}