{% extends 'Layout/LayoutUser.html.twig' %}
{% block content %}

    <div>

        <a href="{{ path('addAstuce') }}" class="btn btn-circle grey-salsa btn-outline btn-sm">
            <i class="fa fa-plus"></i>
            Ajouter Astuce
        </a>

        <h1>Des astuces qui peuvent vous intéresser </h1>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <div class="container">
            <div class="" style="padding-bottom: 30px;">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="input-group" id="adv-search">
                            <input id="selectedSort" type="text" class="form-control" placeholder="Sort"/>
                            <div class="input-group-btn">
                                <div class="btn-group" role="group">
                                    <div class="dropdown dropdown-lg">
                                        <button type="button" class="btn btn-default dropdown-toggle"
                                                data-toggle="dropdown" aria-expanded="false">
                                            <i class="fa fa-caret-down"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right no-margin">
                                            <li><a href="{{ path('listAstuce',{'param': 'Entretien'}) }}" value="Entretien">Entretien</a></li>
                                            <li><a href="{{ path('listAstuce',{'param': 'Vente Et Achat'}) }}" value="VenteEtAchat">Vente et Achat</a>
                                            </li>
                                            <li><a href="{{ path('listAstuce',{'param': 'Conduite'}) }}" value="Conduite">Conduite</a>
                                            </li>
                                            <li><a href="{{ path('listAstuce',{'param': 'Consommation'}) }}" value="Consommation">Consommation</a>
                                            </li>
                                            <li><a href="{{ path('listAstuce',{'param': 'Autre'}) }}" value="Autre">Autre</a>
                                            </li>

                                        </ul>
                                    </div>

                                    <button type="button" class="btn btn-default" onclick="switchIcon()"
                                            style="min-width: 80px;">
                                        <span id="sortDescIcon" class="pull-left" style="displey: inline-block;"><i
                                                    class="fa fa-sort-amount-desc"></i> Desc</span>
                                        <span id="sortAscIcon" class="pull-left" style="display:none;"> <i
                                                    class="fa fa-sort-amount-asc"></i> Asc</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
    </div>


    {% for i in astuces %}


        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" style="margin-top: 30px" id="{{ i.id }}">
            <div class="hovereffect">
                <img class="img-responsive" src="{{ asset(vich_uploader_asset(i, 'imageFile')) }}" style="min-height:233px;height:233px;min-width:350px;width:350px;" alt="{{ i.theme }}">

                <div class="overlay">
                    <h2>{{ i.theme }}</h2>
                    <a class="info" href="{{ path('infoAstuce', {'id' : i.id} ) }}">plus de détails</a>
                </div>
            </div>
        </div>

    {% endfor %}

    <div class="scroll-to-top" style="display: block;">
        <i class="icon-arrow-up"></i>
    </div>




{% endblock %}